<div>
    <h1>Datos Producto</h1>

    <ul>
        {{#each producto}}
        
            <li> Producto: - {{this.nombre}} </li>
            <li> Precio: - {{this.precio}} </li>
            <li> Foto: - {{this.foto}} </li>
            <br>
            <hr>
        {{/each}}
    </ul>
</div>