<h1>Mensajes Almacenados</h1>
<table>
    {{#each mensajes}}
    <tr>
        <td>ID: {{id}}</td>
        <td>Emanil: {{email}}</td>
        <td>Mensaje: {{message}}</td>
    </tr>
    {{/each}}
</table>