
main
    h1 Datos Producto
        if (productos.length > 0)
            each producto in productos
                ul
                    li= producto.name
                    li= producto.price
                    li= producto.id
                    br
                    hr
