<div>
    <h1>Datos Producto</h1>

    <ul>
        {{#each productos}}
        
            <li> Producto: - {{this.name}} </li>
            <li> Precio: - {{this.price}} </li>
            <li> ID: - {{this.id}} </li>
            <br>
            <hr>
        {{/each}}
    </ul>
</div>